ccai9012.egg-info/
.ipynb_checkpoints
__pycache__/
.DS_Store
.idea/

# data/*
!data/german_credits/
models/
tmp/

docs/figs/flowchart/*.xml.bkp
docs/figs/flowchart/*.xml
docs/md/weekly_syllabus.md
docs/temp/
docs/api_source/generated/

ccai9012/token.yaml

starter_kits/4_cv_models/webcam_yolo/video/Live Cam Iseo _ SkylineWebcams _(9_30_16_55).mp4
starter_kits/1_traditional_generative_ml/GANmapper/data/test
starter_kits/1_traditional_generative_ml/GANmapper/data/train
starter_kits/1_traditional_generative_ml/GANmapper/data/train_aug
starter_kits/2_llm_structure_output/urban_sentiment/data
starter_kits/4_cv_models/svi_housing_price/data

weekly_scripts/week6/data
weekly_scripts/week7/output
weekly_scripts/week8/svi_segmentation/segmentations
weekly_scripts/week8/yolo/output
weekly_scripts/week8/yolo/runs

docs/figs/brand_identity/*
!docs/figs/brand_identity/banner.png

*.md
!docs/*.md
!README.md

____*
